@using System.Activities.Expressions
@using Blog.Classes
@using Blog.Models
@model IEnumerable<PostViewModel>

@if (Model.Any())
{
    foreach (var post in Model)
    {
        <div class="posts text-white col-xs-5" style="display: inline-block; margin-right: 10px; border-radius: 10px; padding: 10px;">
            <a href="/Posts/Details/@post.Id" class="titleA"><h3>@post.Title (by @post.Author)</h3></a>
            
            @if (post.Body.Length > 100)
            {
                @Html.Raw(post.Body.Substring(0, 100) + " ...")
            }
            else
            {
                @Html.Raw(post.Body)
            }

            <div>
                <a href="/Posts/Details/@post.Id" class="read btn btn-default"> Read More </a>
            </div>
            <div id="post-content-@post.Id"></div>
        </div>
    }
}
else
{
    <br />
    <div>No matches</div>
}
